Repository sncf-connect-tech/hesperides-gui: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-variables-starting-with-nb, forbid-artifactory-in-package-lock

forbid-variables-starting-with-nb:
  name: Forbid nb-prefixed variables, use a Count suffix instead, cf. tech_docs/javascript.md
  language: pygrep
  entry: ' nb[A-Z]'

forbid-artifactory-in-package-lock:
  name: Forbid artifactory domain in package-lock.json resolved dependencies
  language: pygrep
  entry: artifactory

Fix #345: Détail des propriétés d'une plateforme
  .gitignore
  .travis.yml
  bundler.js
  package-lock.json
  src/app/application/application.js
  src/app/hesperides/hesperides.js
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
  src/app/index.html
  src/app/properties/detailed-properties/detailed-properties-modal.html
  src/app/properties/detailed-properties/detailed-properties.css
  src/app/properties/detailed-properties/detailed-properties.html
  src/app/properties/detailed-properties/detailed-properties.js
  src/app/properties/group-logic/copy-group-logic-modal.html
  src/app/properties/tree_properties.html
  src/app/properties/tree_renderer.html
  test/bdd/features/platforms/detailed-properties.feature
  test/bdd/glue/helpers/get.js
  test/bdd/glue/scenarios/modules/create-modules.js
  test/bdd/glue/scenarios/platforms/detailed-properties.js
  test/bdd/glue/scenarios/platforms/save-global-properties.js
  test/bdd/glue/scenarios/platforms/save-module-properties.js
Due: forbid-variables-starting-with-nb, forbid-artifactory-in-package-lock

Fix #345: Détail des propriétés d'une plateforme (#402)
  .gitignore
  .travis.yml
  bundler.js
  package-lock.json
  src/app/application/application.js
  src/app/hesperides/hesperides.js
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
  src/app/index.html
  src/app/properties/detailed-properties/detailed-properties-modal.html
  src/app/properties/detailed-properties/detailed-properties.css
  src/app/properties/detailed-properties/detailed-properties.html
  src/app/properties/detailed-properties/detailed-properties.js
  src/app/properties/group-logic/copy-group-logic-modal.html
  src/app/properties/tree_properties.html
  src/app/properties/tree_renderer.html
  test/bdd/features/platforms/detailed-properties.feature
  test/bdd/glue/helpers/get.js
  test/bdd/glue/scenarios/modules/create-modules.js
  test/bdd/glue/scenarios/platforms/detailed-properties.js
  test/bdd/glue/scenarios/platforms/save-global-properties.js
  test/bdd/glue/scenarios/platforms/save-module-properties.js
Due: forbid-variables-starting-with-nb, forbid-artifactory-in-package-lock

Fix #283: Historique des valorisations de propriétés
  .travis.yml
  bundler.js
  package-lock.json
  src/app/application/application.js
  src/app/colors.css
  src/app/diff/diff.js
  src/app/hesperides.css
  src/app/hesperides/hesperides.js
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
  src/app/index.html
  src/app/properties/deployed-module-controls.html
  src/app/properties/detailed-properties/detailed-properties-button.html
  src/app/properties/detailed-properties/detailed-properties.css
  src/app/properties/detailed-properties/detailed-properties.js
  src/app/properties/events/properties-event-button.html
  src/app/properties/events/properties-events-modal.html
  src/app/properties/events/properties-events.css
  src/app/properties/events/properties-events.js
  src/app/properties/tree_properties.html
  test/bdd/features/platforms/properties-events.feature
  test/bdd/glue/helpers/api.js
  test/bdd/glue/helpers/assert.js
  test/bdd/glue/scenarios/platforms/module-properties-diff.js
  test/bdd/glue/scenarios/platforms/properties-events.js
  test/bdd/glue/scenarios/platforms/save-properties.js
Due: forbid-variables-starting-with-nb, forbid-artifactory-in-package-lock

Ajout de list_unused_i18n.py
  .pre-commit-config.yaml
  CHANGELOG.md
  list_unused_i18n.py
Due: none

Ajout de list_unused_i18n.py (#407)
  .pre-commit-config.yaml
  CHANGELOG.md
  list_unused_i18n.py
Due: none

Suppression des libellés i18n inutiles
  CHANGELOG.md
  list_unused_i18n.py
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
Due: none

wip
  src/app/diff/diff.js
  src/app/hesperides.css
  src/app/platform/events/platform-events-modal.html
  src/app/platform/events/platform-events.css
  src/app/properties/detailed-properties/detailed-properties.css
  src/app/properties/events/properties-events.css
  src/app/properties/tree_properties.html
Due: forbid-variables-starting-with-nb

wip
  package-lock.json
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
Due: forbid-artifactory-in-package-lock

Fixing pre-commit CI step
  .travis.yml
  CHANGELOG.md
  list_unused_i18n.py
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
Due: none

Correction du style de l'input de recherche du modal d'évènements d'une plateforme
  src/app/platform/events/platform-events.css
Due: none

Add: Ajout d'un délais de 500ms entre chaque appel lors de la recherche de module
  src/app/menu/menu.html
  src/app/menu/menu.js
  src/app/menu/module-menu-modal-from.html
  src/app/properties/change_module_version.html
  src/app/properties/search_module.html
  src/app/shared/list-of-items.html
Due: forbid-variables-starting-with-nb

Fix #150: Liste des propriétés de modules et globales redimensionnables verticalement
  src/app/application/properties_globales.html
  src/app/hesperides.css
  src/app/properties/simple-properties-list.html
Due: none

Corrections
  src/app/application/properties_globales.html
  src/app/hesperides.css
  src/app/properties/simple-properties-list.html
Due: none

Fix #150: Liste des propriétés de modules et globales redimensionnable verticalement (#412)
  src/app/application/properties_globales.html
  src/app/hesperides.css
  src/app/properties/simple-properties-list.html
Due: none

CHANGELOG.md update
  CHANGELOG.md
Due: none

docs: removing mentions to Redis / ElasticSearch / Dropwizard
  docs/applications.html
  docs/assets/images/Thumbs.db
  docs/assets/images/cache_hesperides.png
  docs/assets/images/empty.gif
  docs/assets/images/list_unused.sh
  docs/assets/images/screenshots/Thumbs.db
  docs/assets/images/screenshots/group_name_block_set_name.png
  docs/assets/images/screenshots/platform_block_add_first_level.png
  docs/assets/images/screenshots/properties_simple_and_iterable.png
  docs/assets/images/screenshots/template_edit_empty.png
  docs/assets/images/service_architecture_aggregate.png
  docs/assets/images/technical_architecture_hesperides.png
  docs/contribute.html
  docs/contributing.html
  docs/index.html
  docs/valuations.html
Due: none

docs: removing mentions to Redis / ElasticSearch / Dropwizard (#414)
  docs/applications.html
  docs/assets/images/Thumbs.db
  docs/assets/images/cache_hesperides.png
  docs/assets/images/empty.gif
  docs/assets/images/list_unused.sh
  docs/assets/images/screenshots/Thumbs.db
  docs/assets/images/screenshots/group_name_block_set_name.png
  docs/assets/images/screenshots/platform_block_add_first_level.png
  docs/assets/images/screenshots/properties_simple_and_iterable.png
  docs/assets/images/screenshots/template_edit_empty.png
  docs/assets/images/service_architecture_aggregate.png
  docs/assets/images/technical_architecture_hesperides.png
  docs/contribute.html
  docs/contributing.html
  docs/index.html
  docs/valuations.html
Due: none

docs: adding section on hesperides-cli
  docs/best_practices.html
Due: none

docs: adding section on hesperides-cli (#415)
  docs/best_practices.html
Due: none

Fix: Exécution des tests sur Travis de nouveau fonctionnelle, correction de la manière de vérifier les notifications
  CONTRIBUTING.md
  README.md
  package-lock.json
  test/bdd/glue/helpers/assert.js
Due: forbid-variables-starting-with-nb, forbid-artifactory-in-package-lock

Fix: Suppression du controle de surface sur les propriétés requises - close #334 & #417
  src/app/properties/simple-properties-list.html
  test/bdd/features/platforms/save-module-properties.feature
  test/bdd/glue/scenarios/platforms/save-module-properties.js
Due: forbid-variables-starting-with-nb

Fixing test
  .travis.yml
  .travis/run_bdd_test.sh
  package-lock.json
  test/bdd/features/platforms/save-module-properties.feature
  test/bdd/glue/helpers/assert.js
  test/bdd/glue/hooks.js
  test/bdd/glue/scenarios/platforms/module-properties-list.js
Due: forbid-variables-starting-with-nb, forbid-artifactory-in-package-lock

Refacto post-review
  test/bdd/glue/helpers/assert.js
  test/bdd/glue/scenarios/platforms/module-properties-list.js
Due: forbid-variables-starting-with-nb

Fix: Suppression du controle de surface sur les propriétés requises - close #334 & #417 (#419)
  .travis.yml
  .travis/run_bdd_test.sh
  package-lock.json
  src/app/properties/simple-properties-list.html
  test/bdd/features/platforms/save-module-properties.feature
  test/bdd/glue/helpers/assert.js
  test/bdd/glue/hooks.js
  test/bdd/glue/scenarios/platforms/module-properties-list.js
  test/bdd/glue/scenarios/platforms/save-module-properties.js
Due: forbid-variables-starting-with-nb, forbid-artifactory-in-package-lock

Pleasing esling
  src/app/application/application.js
  test/bdd/glue/helpers/assert.js
  test/bdd/glue/scenarios/platforms/module-properties-list.js
Due: forbid-variables-starting-with-nb

Chipotage
  test/bdd/glue/helpers/assert.js
  test/bdd/glue/scenarios/platforms/module-properties-list.js
Due: forbid-variables-starting-with-nb

Update .travis.yml
  .travis.yml
Due: none

Add: Page de recherche de propriétés + Refonte du menu
  .eslintrc.json
  bundler.js
  package-lock.json
  src/app/application/application.js
  src/app/colors.css
  src/app/hesperides/hesperides.js
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
  src/app/index.html
  src/app/menu/menu.css
  src/app/menu/menu.html
  src/app/menu/menu.js
  src/app/platform/events/platform-events-button.html
  src/app/properties/detailed-properties/detailed-properties-button.html
  src/app/properties/detailed-properties/detailed-properties-modal.html
  src/app/properties/detailed-properties/detailed-properties.js
  src/app/properties/events/properties-events-button.html
  src/app/search-properties/search-properties.css
  src/app/search-properties/search-properties.html
  src/app/search-properties/search-properties.js
  test/bdd/features/platforms/module-properties-diff.feature
  test/bdd/features/platforms/search-properties.feature
  test/bdd/glue/entities/IterableProperty.js
  test/bdd/glue/entities/ValuedProperty.js
  test/bdd/glue/helpers/api.js
  test/bdd/glue/helpers/assert.js
  test/bdd/glue/scenarios/platforms/create-platforms.js
  test/bdd/glue/scenarios/platforms/save-properties.js
  test/bdd/glue/scenarios/platforms/search-properties.js
Due: forbid-variables-starting-with-nb, forbid-artifactory-in-package-lock

Adding LADR about search properties
  documentation/lightweight-architecture-decision-records/README.md
  documentation/lightweight-architecture-decision-records/properties_search.md
  documentation/lightweight-architecture-decision-records/search-properties-navbar.png
  documentation/lightweight-architecture-decision-records/search-properties-results.png
Due: none

Minor fixups post-review
  documentation/lightweight-architecture-decision-records/properties_search.md
Due: none

Adding LADR about search properties (#416)
  documentation/lightweight-architecture-decision-records/README.md
  documentation/lightweight-architecture-decision-records/properties_search.md
  documentation/lightweight-architecture-decision-records/search-properties-navbar.png
  documentation/lightweight-architecture-decision-records/search-properties-results.png
Due: none

Directory renaming
  tech_docs/lightweight-architecture-decision-records/README.md
  tech_docs/lightweight-architecture-decision-records/properties_search.md
  tech_docs/lightweight-architecture-decision-records/search-properties-navbar.png
  tech_docs/lightweight-architecture-decision-records/search-properties-results.png
Due: none

Path conditions:
  forbid-variables-starting-with-nb: any of: \.js$, but not: ^docs/assets/
  forbid-artifactory-in-package-lock: any of: package-lock.json
