Repository sncf-connect-tech/hesperides-gui: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-variables-starting-with-nb, forbid-artifactory-in-package-lock, find-unused-i18n-strings

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: check-merge-conflict
    -   id: trailing-whitespace
        exclude: ^docs/assets/|^src/app/fonts/
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
        exclude: ^docs/assets/
-   repo: local
    hooks:
    -   id: forbid-variables-starting-with-nb
        name: Forbid nb-prefixed variables, use a Count suffix instead, cf. tech_docs/javascript.md
        language: pygrep
        entry: " nb[A-Z]"
        files: \.js$
        exclude: ^docs/assets/
    -   id: forbid-artifactory-in-package-lock
        name: Forbid artifactory domain in package-lock.json resolved dependencies
        language: pygrep
        entry: artifactory
        files: package-lock.json
    -   id: find-unused-i18n-strings
        name: Find unused i18n strings
        language: system
        entry: ./list_unused_i18n.py
        files: ^src/app/

Update properties_search.md
  tech_docs/lightweight-architecture-decision-records/properties_search.md
Due: none

Add: Passage de Travis à GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/docker_build.sh
  .github/workflows/docker_push.sh
  .github/workflows/setup_test_environment.sh
  .travis.yml
  .travis/run_bdd_test.sh
  README.md
  docs/index.html
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
  tech_docs/lightweight-architecture-decision-records/properties_search.md
  test/bdd/protractor-bdd.js
  test/unit/menu.spec.js
  test/unit/module.spec.js
Due: forbid-variables-starting-with-nb, find-unused-i18n-strings

Fix: Corrections CSS mineures
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
  src/app/menu/menu.css
  src/app/menu/menu.html
  src/app/menu/menu.js
  src/app/search-properties/search-properties.css
Due: forbid-variables-starting-with-nb, find-unused-i18n-strings

Fix: allow upload of large files through nginx, e.g. for module templates
  .github/workflows/ci.yml
  docs/htmltidy.conf
  nginx.conf
Due: none

Fixing Chrome browser & ChromeDriver versions mismatch
  .github/workflows/ci.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: forbid-artifactory-in-package-lock

Fix: allow upload of large files through nginx, e.g. for module templates (#428)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/htmltidy.conf
  nginx.conf
  package-lock.json
  package.json
Due: forbid-artifactory-in-package-lock

Calling npm ci --production during Docker image build instead of yarn for consistency
  Dockerfile
  test/bdd/glue/hooks.js
Due: forbid-variables-starting-with-nb

Adding missing labels to Docker image
  .github/workflows/docker_build.sh
  Dockerfile
Due: none

Adding missing doc on $API_ENDPOINT
  CONTRIBUTING.md
  docker_entrypoint.sh
  docs/glossary.html
  docs/start.html
Due: none

Correction du CI suite à la mise en place de la variable d'environnement API_ENDPOINT
  .github/workflows/docker_build.sh
  docker_entrypoint.sh
  test/bdd/features/platforms/copy-platforms.feature
Due: none

Fixing missing vendor.* files in Docker image
  Dockerfile
  docker_entrypoint.sh
Due: none

Fixing missing vendor.* files in Docker image (#433)
  Dockerfile
  docker_entrypoint.sh
Due: none

Généralisation du check des fichiers CSS & JS dans l'entrypoint Docker
  Dockerfile
  docker_entrypoint.sh
Due: none

Généralisation du check des fichiers CSS & JS dans l'entrypoint Docker (#435)
  Dockerfile
  docker_entrypoint.sh
Due: none

Adding some installation docs with mention of LDAP configuration
  CHANGELOG.md
  docs/start.html
Due: none

Adding heroku.yml & corresponding documentation
  Dockerfile.heroku
  README.md
  docker_entrypoint.sh
  docs/index.html
  docs/start.html
  heroku.yml
Due: none

Minor README.md URL fixup
  Dockerfile.heroku
  README.md
Due: none

Add: Limitation du nombre de résultats dans la recherche de propriétés
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
  src/app/search-properties/search-properties.css
  src/app/search-properties/search-properties.html
  src/app/search-properties/search-properties.js
  test/bdd/features/platforms/search-properties.feature
  test/bdd/glue/scenarios/platforms/search-properties.js
Due: forbid-variables-starting-with-nb, find-unused-i18n-strings

Add a help text on the search page
  .github/workflows/ci.yml
  package-lock.json
  src/app/i18n/label_en.json
  src/app/i18n/label_fr.json
  src/app/search-properties/search-properties.css
  src/app/search-properties/search-properties.html
Due: forbid-artifactory-in-package-lock, find-unused-i18n-strings

Docker: running container as non-root user
  Dockerfile
  docs/start.html
  list_unused_i18n.py
  src/app/i18n/label_en.json
Due: find-unused-i18n-strings

Docker: running container as non-root user (#437)
  Dockerfile
  docs/start.html
  list_unused_i18n.py
  src/app/i18n/label_en.json
Due: find-unused-i18n-strings

Fixing Dockerfile.heroku
  Dockerfile.heroku
Due: none

upgrade nginx
  Dockerfile
Due: none

Upgrade html2canvas to v1.3.3
  package-lock.json
  package.json
Due: forbid-artifactory-in-package-lock

Correction d'un test non passant + Mise à jour de la documentation pour l'exécution des tests E2E
  README.md
  src/app/module/module.html
  test/bdd/features/technos/search-technos.feature
  test/bdd/glue/scenarios/modules/add-technos.js
Due: forbid-variables-starting-with-nb, find-unused-i18n-strings
